{% extends 'base.html' %}

{% block content %}
<h2>Invitations</h2>
<ul>
    {% for invitation in invitations %}
        <li>
            Invitation to the project "{{ invitation.project.title }}" <br>
            Invited by: {{ invitation.inviter.username }} <br>
            Role: {{ invitation.get_role_display }} <br>
            <a href="{% url 'accept_invitation' invitation.id %}">Accept</a> | 
            <a href="{% url 'reject_invitation' invitation.id %}">Reject</a>
        </li>
    {% endfor %}
</ul>

<h2>Task Assignments</h2>
<ul>
    {% for notification in task_notifications %}
        <li>
            You have been assigned to the task "{{ notification.task.title }}" in the project "{{ notification.task.project.title }}" <br>
            <a href="{% url 'delete_task_notification' notification.id %}">Clear</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
