<!-- templates/register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} {% load static %} {% endcomment %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
</head>
<body>
    <header>
        <h1>Registration</h1>
    </header>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Sign up</button>
        </form>
        <p>You already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
    <footer>
        <p>&copy; 2024 TaskMaster. All rights reserved.</p>
    </footer>
</body>
</html>
